@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
:root {
  --primaryColor: rgb(51, 89, 236);
}

body {
  font-size: 62.5%;
}

.bloco {
  text-align: center;
}

.header {
  width: 100%;
  padding-top: 5px;
  border-bottom: 1px solid var(--primaryColor);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.logo-blue {
  max-width: 150px;
  max-height: 90px;
}

.titulo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.bloco-imagem {
  display: flex;
  flex-wrap: wrap;
  width: 35%;
  justify-content: center;
}

.bloco-titulo {
  font-size: 1.2rem;
  display: grid;
  flex-wrap: wrap;
  width: 65%;
}
.bloco-botao {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  margin-bottom: 0.5rem;
}

.bloco-botao-secondary {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
}
.botao-header {
  margin: 0 10px;
}
.botao-header button {
  border: 1px solid var(--primaryColor);
  border-radius: 10px;
  padding: 10px 25px;
  cursor: pointer;
}

#busca {
  margin: 10px;
  border: 1px solid var(--primaryColor);
  border-radius: 10px;
  padding: 5px;
  outline: none;
  width: 12rem;
}
.botao {
  text-decoration: none;
  border: 1px solid var(--primaryColor);
  border-radius: 10px;
  padding: 5px 10px;
  background-color: var(--primaryColor);
  color: black;
  font-size: 0.8rem;
  font-weight: 400;
  margin-top: 5px;
}

.bloco_sucesso {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.alterado_sucesso {
  font-size: 1rem;
  text-align: center;
  width: 100%;
  background-color: lightgreen;
  margin-bottom: 10px;
}

.bloco_sucesso a {
  max-width: 200px;
}

@media (max-width: 600px) {
  .bloco-titulo {
    width: 100%;
  }
  .bloco-imagem {
    width: 100%;
  }
  .bloco-titulo h1 {
    font-size: 2rem;
    text-align: center;
  }

  #busca {
    font-size: 0.6rem;
    width: 5rem;
  }
}
