.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bloco-header {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
  align-items: center;
}

.bloco-header .imagem img {
  max-height: 150px;
  border-radius: 50%;
}

.bloco-header h2 {
  font-size: 2rem;
}

.info p {
  font-size: 1.3rem;
}

#excluir{
  background-color: var(--primaryColor);
  border: none;
  border-radius: 10px;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  margin: 0 5px;
  padding: 10px 14px 10px 14px;
  text-align: center;

}

#edit {
  background-color: var(--primaryColor);
  border: none;
  border-radius: 10px;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  margin: 0 5px;
  padding: 10px 11px 10px 13px;
  text-align: center;
}
