.bloco-header {
  width: 90%;
  display: flex;
  justify-content: space-around;
  margin: 3rem auto;
  align-items: center;
}

.bloco-header .imagem img {
  max-height: 150px;
  border-radius: 50%;
}

.bloco-header h2 {
  font-size: 2rem;
  text-align: center;
}

.info p {
  font-size: 1.3rem;
}

#excluir {
  background-color: var(--primaryColor);
  border: none;
  border-radius: 10px;
  color: black;
  cursor: pointer;
  display: inline-block;
  margin: 0 5px;
  padding: 10px 14px 10px 14px;
  text-align: center;
}

#edit {
  background-color: var(--primaryColor);
  border: none;
  border-radius: 10px;
  color: black;
  cursor: pointer;
  display: inline-block;
  margin: 0 5px;
  padding: 10px 11px 10px 13px;
  text-align: center;
}

@media (max-width: 835px) {
  .bloco-header .imagem img {
    max-height: 3.75rem;
  }
  .bloco-header h2 {
    font-size: 0.8rem;
  }
  #excluir {
    max-width: 13px;
    max-height: 13px;
    padding: 10px;
  }
  #edit {
    max-width: 13px;
    max-height: 13px;
    padding: 10px;
  }
  .info p {
    font-size: 0.8rem;
  }
}

@media (max-width: 390px) {
  #excluir {
    margin-bottom: 5px;
  }
}
