#tabela {
  border: 1px solid var(--primaryColor);
  border-spacing: 0;
  margin: 0 auto 20px;
  width: 90%;
}

.bloco h2 {
  text-align: center;
  font-size: 2rem;
}

.tabela_header,
.tabela_children {
  width: 100%;
}

#tabela td,
#tabela th {
  font-size: 1rem;
  border-bottom: 1px solid var(--primaryColor);
}

.tabela_header th {
  font-weight: bold;
  text-align: center;
  width: 16.6%;
}

.tabela_children td {
  text-align: center;
  font-size: 0.8rem;
  align-items: center;
}

#tabela td .botao {
  display: flex;
  justify-content: center;
  max-width: 10px;
  max-height: 10px;
  border-radius: 5px;
  align-items: center;
  margin: 5px auto;
}

#filtro th {
  border: none;
  text-align: center;
}

@media (max-width: 600px) {
  .bloco h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
  }

  #tabela td,
  #tabela th {
    font-size: 0.6rem;
  }

  #tabela {
    width: 80%;
  }

  #tabela td .botao {
    max-width: 2px;
    max-height: 2px;
    padding: 5px;
  }

  #filtro th {
    max-width: 30px;
  }

  .tabela_header th {
    width: 16%;
  }
  .email {
    display: none;
  }
}
