#tabela {
  border: 1px solid #bababa;
  border-spacing: 0;
  margin: 0 auto 20px;
  width: 90%;
}

.bloco h2 {
  text-align: center;
  font-size: 2rem;
}

#tabela td,
#tabela th {
  font-size: 1rem;
  border-bottom: 1px solid #bababa;
}

.tabela_header th {
  font-weight: bold;
  text-align: center;
  width: 16.6%;
}
.tabela_children td {
  text-align: center;
  width: 5%;
}
#tabela td .botao {
  display: flex;
  justify-content: center;
  max-width: 10px;
  max-height: 10px;
  border-radius: 5px;
  align-items: center;
  margin: 5px auto;
}

#filtro th {
  border: none;
  text-align: center;
}
