<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/pages/create.css">
    <link rel="stylesheet" href="/static/css/pages/alterar.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">

    <title>Document</title>
</head>

<body>
    {% include 'header.html' %}
    {% if alterado %}

    <div class="bloco_sucesso">
        <p class="alterado_sucesso">
            Alteração realizada com sucesso! <br>
        </p>
        <a href="/aluno/{{alterado}}" class="botao"> Visualizar esse registro </a>
    </div>
    {% else %}
    <main>
        <form action="/alterar/{{aluno.id}}" method="POST" enctype="multipart/form-data" class="form">
            <h2>{{aluno.nome}}</h2>
            <fieldset name="Alterar Cadastro" class="fieldset">
                <legend><b>Editar Aluno</b> </legend>
                <div class="bloco_campos">
                    <div class="bloco_form">
                        <label for="nome">Nome:
                            <br>
                            <input type="text" name="nome" id="nome" autofocus required value="{{aluno.nome}}">
                        </label>

                    </div>
                    <div class="bloco_form">
                            <label for="sexo">Feminino</label>
                            <input type="text" name="sexo" id="feminino" value="{{aluno.sexo}}">
                    </div>
                    <div class="bloco_form">
                        <label for="email">Email:
                            <br>
                            <input type="email" name="email" id="email" value="{{aluno.email}}">
                        </label>

                    </div>
                    <div class="bloco_form">
                        <label for="foto">Imagem Perfil:
                            <br>
                            <input type="text" id="foto" name="img_url" value="{{aluno.img_url}}">
                        </label>

                    </div>

                    <div class="bloco_form">
                        <label for="contato">Contato:
                            <br>
                            <input type="text" name="contato" id="contato" value="{{aluno.contato}}">
                        </label>

                    </div>
                    <div class="bloco_form">
                        <label for="descricao">Fale um pouco sobre vc:
                            <br>
                            <textarea name="descricao" id="" cols="21.5" rows="5">{{aluno.descricao}}</textarea>
                        </label>

                    </div>

                </div>
                <div class="bloco_botao">
                    <button class="botao_form" type="submit">Enviar</button>
                    <button class="botao_form" type="reset">Limpar</button>
                </div>
            </fieldset>

        </form>
    </main>
    {% endif %}
</body>

</html>