<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crud parte 2</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/pages/aluno.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
</head>

<body>

    {% include 'header.html' %}

    <div class="bloco-header">
        <div class="imagem">
            <img src="{{aluno.img_url}}" alt="{{aluno.nome}}">
        </div>
        <h2>{{aluno.nome}}</h2>
        <div class="delete">
            <a href="#" class="botao"><i class="far fa-trash-alt"> </i></a></td>
        </div>
    </div>

    <div class="info">
        <p><strong>E-mail: </strong> {{aluno.email}}</p>
        <p><strong>Sexo: </strong> {{aluno.sexo}}</p>
        <p><strong>Contato: </strong> {{aluno.contato}}</p>
        <p><strong>Descrição: </strong>{{aluno.descricao}}</p>
    </div>
</body>

</html>