<header class="header">
    <div class="titulo">

        <div class="bloco-imagem">
            <a href="/"><img class="logo-blue" src="/static/img/logo-blue-unscreen.gif" alt="Logo Blue"></a>
        </div>
        <div class="bloco-titulo">
            <h1>Cadastro de Alunos</h1>
        </div>
    </div>
    <div class="bloco-botao">

        <div class="bloco-botao-secondary">
            <div class="botao-header">
                <a href="/criar"><button>Criar</button></a>

            </div>
            <div class="botao-header">
                <a href="/listar"><button>Listar</button></a>

            </div>

        </div>

    </div>
    <br>
</header>